.Seek {
    position: absolute;
    background-color: red;
    width: 3px;
    top: -5px;
    left: 0;
    height: 100%;
    transform: translateX(-1.5px);
}

.Seek .touch {
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    top: -10px;
    background-color: red;
    left: -3px;
    transition: .2s transform;
}

.Seek .touch:hover {
    transform: scale(1.4);
    cursor: pointer;
}

.Seek .time {
    background-color: yellow;
    position: absolute;
    top: -15px;
    left: 10px;
    font-size: 11px;
    padding: 1px 6px;
    border-radius: 3px;
    font-family: sans-serif;
}